<div class="frappe-card p-5">
  <div class="start">
    <h4 class="mb-3 mt-0">Customer Login</h4>
    <p class="mb-3">
      Welcome to Frappe Partner Support. Please enter your email address to
      continue. If you are a new user, you will be asked to create an account
      first.
    </p>
    <div class="d-flex">
      <input
        autocomplete="on"
        class="form-control input-email"
        placeholder="Enter your email id"
        style="max-width: 20rem"
      />
      <button class="start-btn btn btn-primary btn-validate btn-sm ml-2">
        Login
      </button>
    </div>
    <p class="text-muted small pl-2 pt-1">
      Must be a valid user on your registered site
    </p>
  </div>
  <div class="valid hidden">
    <h3 class="mb-1 mt-0">Login Link Sent</h3>
    <div class="alert alert-info small mt-3 mb-0">
      Please check your inbox for a confirmation email
    </div>
  </div>
</div>
