<div class="frappe-card p-5" style="max-width: 32rem; margin: auto">
  <div class="register">
    <h3 class="mb-1 mt-0">Register</h3>
    <div class="alert alert-info mb-5 mt-3" style="font-size: 14px;">
      You have not been registered as a support user. Please enter your account details below to register.
    </div>
    <div>
      <label style="font-size: 14px">Your Email</label>
      <input
        class="form-control input-email"
        placeholder="Enter your email id"
        readonly
      />
      <p class="text-muted small pl-1 pt-1 mb-4">
        Must be a valid user on your site
      </p>
      <label style="font-size: 14px">Your Name</label>
      <input
        class="form-control input-name mb-4"
        placeholder="For eg. John Doe"
      />
      <label style="font-size: 14px">Your Company Name</label>
      <input
        class="form-control input-company mb-4"
        placeholder="For eg. ACME Corp"
      />
      <label style="font-size: 14px">Your Site URL</label>
      <input
        class="form-control input-site mb-4"
        placeholder="For eg. mysite.erpnext.com"
      />
      <button class="btn btn-primary btn-register">Submit Request</button>
    </div>
  </div>
  <div class="register-complete hidden">
    <h3 class="mb-1 mt-0">Request Submitted</h3>
    <div class="alert alert-info mt-3 mb-0" style="font-size: 14px;">
      Please wait for our support team to get in touch with you via email.
    </div>
  </div>
</div>
