<h3 class="mb-1 mt-0">Your Tickets</h3>
<p class="mb-3 text-muted small">
  You are logged in as <span class="user-email"></span>
</p>
<div class="d-flex justify-content-between">
  <div
    class="form-group frappe-control input-max-width"
    style="position: relative"
  >
    <input
      type="text"
      autocomplete="off"
      class="input-with-feedback form-control input-xs pl-8"
      placeholder="Search by title or site"
    />
    <svg
      class="icon icon-xs"
      style="
				position: absolute;
				top: 50%;
				left: 0.75rem;
				transform: translateY(-50%);
				z-index: 1;
			"
    >
      <use class="" href="#icon-search"></use>
    </svg>
  </div>
  <div>
    <button
      class="btn btn-default btn-sm mr-1 btn-select-filter"
      type="button"
      id="select-filter-dropdown"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      style="height: fit-content"
    >
      <span class="btn-filter-text">Show Open</span>
      <svg class="icon icon-xs">
        <use class="" href="#icon-select"></use>
      </svg>
    </button>
    <ul
      class="dropdown-menu"
      role="menu"
      aria-labelledby="select-filter-dropdown"
    >
      <li data-view="Open">
        <a class="grey-link dropdown-item show-open" href="?show=Open">
          Show Open
        </a>
      </li>
      <li data-view="All">
        <a class="grey-link dropdown-item show-all" href="?show=All">
          Show All
        </a>
      </li>
      <li data-view="Close">
        <a class="grey-link dropdown-item show-close" href="?show=Close">
          Show Close
        </a>
      </li>
    </ul>
    <a
      class="btn btn-primary btn-sm new-issue"
      href="/support/portal/customer/issues/new"
      style="height: fit-content"
    >
      <svg class="icon icon-xs">
        <use class="" href="#icon-add"></use>
      </svg>
      New Ticket
    </a>
  </div>
</div>
<div class="frappe-card issues p-0">
  <div class="text-center" style="padding: 5rem">Fetching...</div>
</div>
<div class="mt-6 text-center">
  <a href="#" class="link-logout">Logout</a>
</div>
