{% extends "templates/base.html" %}

{% block head_include %}
<script src="https://cdn.tailwindcss.com"></script>
<script src="/assets/support/js/vue.global.js"></script>
<style>
	body {
		background-color: var(--bg-color);
	}
</style>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div id="app"></div>
{% endblock %}

{%- block script -%}
<script type="module">
	import * as Vue from "/assets/support/js/vue.esm-browser.prod.js";
	window.Vue = Vue;
	frappe.ready(() => {
    // wait till vue is loaded
    const AgentPortal = Vue.defineAsyncComponent(() =>
      import("/assets/support/js/agent_portal/AgentPortal.js")
    );
		const app = Vue.createApp(AgentPortal);
		app.component("router-link", Vue.defineAsyncComponent(() =>
			import("/assets/support/js/agent_portal/RouterLink.js")
		));
		app.mount("#app");
	});
</script>
{%- endblock -%}

{% block footer %}
{% endblock %}
